**/bin
**/obj
**/out
**/.vscode
**/.vs
**/.zig-cache
**/zig-out
**/bin-debug
**/bin-release
.dotnet
.Microsoft.DotNet.ImageBuilder
.git
.github
.idea
.agents
.opencode
Tempest.Launcher/node_modules
Tempest.Launcher/src-tauri/target
Tempest.Launcher/.svelte-kit
Tempest.Launcher/.vite
Tempest.Launcher/build
Tempest.Launcher/static
Tempest.Utils/zig-pkg
