<!doctype html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet" href="~/css/catppuccin.css" />
    <script src="https://cdn.jsdelivr.net/npm/unpoly@3.14.3/unpoly.min.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/unpoly@3.14.3/unpoly.min.css" />
</head>
<body>
    <main class="container">
        @RenderBody()
    </main>
</body>
</html>
